.button {
    display: block;

    font-size: 1.25rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--buttoncolor);
    border: 2px solid var(--buttonbordercolor);
    text-decoration: none;
    text-align: center;
    
    background-color: var(--buttonbackgroundcolor);
    border-radius: 0.25em;

    padding: 0.6em 2em;
    line-height: 0.75;

    --buttoncolor: var(--white);
    --buttonbordercolor: var(--red);
    --buttonbackgroundcolor: var(--red);

    cursor: pointer;
}

.button.neg {
    --buttoncolor: var(--white);
    --buttonbordercolor: var(--white);
    --buttonbackgroundcolor: transparent;
}

.button#WhatsApp {
    --buttoncolor: var(--white);
    --buttonbordercolor: #25D366;
    --buttonbackgroundcolor: #25D366;
}
.button#Telegram {
    --buttoncolor: var(--white);
    --buttonbordercolor: #0088cc;
    --buttonbackgroundcolor: #0088cc;
}

.buttongrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.5rem;
    max-width: 15cm;
    margin-left: auto;
    margin-right: auto;
}

.buttongrid .button {
    width: calc(50% - 0.5rem);
    box-sizing: border-box;
}

.buttongrid.one .button {
    width: 100%;
    box-sizing: border-box;
}

.buttongrid.one .button:first-of-type {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 1200px) {
    .buttongrid .button {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 1rem;
    }
}