#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: calc(100 * var(--vh));
    background-color: var(--black);
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    transition: 0.25s opacity, 0.5s visibility;
}

#loader.hide {
    opacity: 0;
    visibility: hidden;
}