nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#nav-cont {
    display: flex;
    justify-content: space-between;
    color: var(--white);
}

#logo-cont, #menu-cont {
    margin: auto 0;
    display: flex;
    color: var(--white);
}

nav #logo-cont * {
    margin: auto 0;
}

nav.lightNav #logo-cont, nav.lightNav #menu-cont {
    color: var(--black);
}

nav #logo-cont img {
    margin-right: 1rem;
    transition: 0.25s ease-in-out height;
    height: 75px;
}

nav #logo-cont div {
    line-height: 1.4;
    transition: 0.25s ease-in-out font-size;
}

nav #logo-cont span#logo-title {font-weight: 700;}

#menu-cont{cursor: pointer;}

#menu-cont #menu-title {
    font-size: 1.25rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-right: 0.5rem;
    line-height: 0.75;
}

#menu-cont * {margin: auto 0;}

#menu-cont #menu-tofuburger div {
    width: 25px;
    height: 0;
    border: 2px solid var(--white);
    margin: 4px 0;
}

nav.lightNav #menu-cont #menu-tofuburger div {
    border: 2px solid var(--black);
}

@media only screen and (max-width: 1300px) {
    nav #logo-cont div {
        font-size: 0.75rem;
    }
}

/* SCROLL NAV */

nav.scrollnav {
    background-color: var(--white);
    filter: drop-shadow(0 3px 6px rgba(0,0,0,0.16));
    z-index: 100;
}

nav.scrollnav #logo-cont, nav.scrollnav #menu-cont {color: var(--black);}

nav.scrollnav #menu-cont #menu-tofuburger div {border: 2px solid var(--black);}

nav.scrollnav #logo-cont img {height: 40px;}

nav.scrollnav #logo-cont div {font-size: 0.75rem;}

@media only screen and (max-width: 980px) {
    #logo-text-cont {
        display: none;
    }
}


/* Open Menu */

#menuDim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: calc(100 * var(--vh));
    background-color: var(--black);
    mix-blend-mode: multiply;
    opacity: 0;
    z-index: 100;
    visibility: hidden;
    transition: 0.5s opacity, 0.5s visibility;
}

#menuDim.show {
    opacity: 0.75;
    visibility: visible;
}

#navmenu-cont {
    color: var(--grey);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100vh;
    min-height: calc(100 * var(--vh));
    padding: 0 clamp(100px, 5vw, 200px);
    background-color: var(--black);
    z-index: 999;
    transform: translateX(100%);
    transition: 0.75s ease-in-out transform;
}

#navmenu-cont.show {
    transform: translateX(0%);
}

#navmenu-large {
    padding: 10rem 0;
}

#navmenu-large a {
    display: block;
    
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    line-height: 1.05;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 5rem;
    text-decoration: none;

    padding-bottom: 1.5rem;
    color: var(--white);
}

#navmenu-large a:last-of-type {
    padding-bottom: 0;
}



#navmenu-small {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

#navmenu-small a {
    margin-right: 1rem;
    color: var(--grey);
}


#close-icon {
    position: absolute;
    top: 2rem;
    left: 2rem;

    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    line-height: 1.05;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--grey);

    cursor: pointer;
}

#close-icon::before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f057";
    letter-spacing: 10px;
    font-size: 1.25rem;
    line-height: 1;
}

@media only screen and (max-width: 740px) {
    #navmenu-cont {
        width: calc(100% - 4rem);
        padding: 0 2rem;
    }

    #navmenu-cont #navmenu-large a{font-size: 4rem;}
    #navmenu-cont #navmenu-small {font-size: 0.75rem;}
}

@media only screen and (max-width: 580px) {
    #navmenu-cont #navmenu-large a{font-size: 3rem;}
}

@media only screen and (max-width: 480px) {
    #navmenu-cont #navmenu-large a{font-size: 2.25rem;}
}