:root {
    --black: #141414;
    --white: #f5f5f5;
    --red: #E52B36;
    --grey: #686868;
    --light: #e6e6e6;
}

html {
    background-color: var(--white);
    scroll-behavior: smooth;
}

html.noscroll {
    overflow-y: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
html {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}