#heroine {
    min-height: 100vh;
    min-height: calc(100 * var(--vh));
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#heroine-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    height: 100%;
}

.heroine-half {
    margin: auto 0;
    padding-top: var(--navbarHeight);
    padding-bottom: var(--navbarHeight);
}

#heroine-text {
    color: var(--white);
}

#heroine-overtitle {
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 700;
}

#heroine-title {
    font-size: 5rem;
    margin-bottom: 0.5rem;
}

#main-content.fr #heroine-title {
    font-size: 3rem;
}


/* Bar Chart */

#heroine-chart {
    width: 100%;
    max-width: 670px;
    height: 400px;
    max-height: 50vh;
    margin: 0 0 0 auto;
}

.ct-grid {
    stroke: var(--white);
    stroke-width: 0.5px;
    stroke-dasharray: 10px;
}

.ct-chart-bar {
    color: var(--white);
    text-align: center;
    font-size: 0.75rem;
}

.ct-series-a {
    stroke: var(--red);
}

.ct-series-b {
    stroke: var(--white);
}

.ct-bar {
    stroke-width: 15px
}

#heroine-chartlegend {
    color: var(--white); 
    text-align:end; 
    font-size: 0.75rem
}

@media only screen and (max-width: 1080px) {
    #heroine-cont {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .heroine-half {
        max-width: 15cm;
        margin-right: auto;
        margin-left: auto;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    #heroine-text {
        margin-top: var(--navbarHeight);
    }
    
    #heroine-graph {
        margin-bottom: var(--navbarHeight);
    }
    
    #heroine-chart-cont {
        margin: 0 auto;
    }

    .ct-chart-bar {font-size: 0.6rem;}
    
    #heroine-chartlegend {text-align:unset;}
}

@media only screen and (max-width: 480px) {
    #heroine-text {
        margin-top: calc( 2rem + var(--navbarHeight));
    }
    
    #heroine-graph {
        margin-bottom: calc( 2rem + var(--navbarHeight));
    }
}